---
Language: Cpp
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AlignOperands: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
    AfterCaseLabel: true
    AfterClass: true
    AfterControlStatement: Always
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: false
    BeforeCatch: true
    BeforeElse: true
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakStringLiterals: false
ColumnLimit: 120
IndentCaseLabels: true
IndentPPDirectives: None
IndentExternBlock: NoIndent
IndentWidth: 2
PointerAlignment: Left
ReflowComments: true
SpaceAfterCStyleCast: true
SpaceBeforeCaseColon: false
TabWidth: 2
UseCRLF: false
UseTab: Never
